In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://about.usps.com/who-we-are/postal-history/pieces-of-mail-since-1789.htm'
sess = requests.Session()
sess.headers['User-Agent'] = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/34.0.1847.131 Safari/537.36'
res = sess.get(url)

In [3]:
pd.set_option('display.max_rows', 250)
pd.set_option('max_colwidth', 50)

In [4]:
soup = BeautifulSoup(res.content, 'lxml')
table = soup.find_all('table')[0]

In [5]:
dfs = pd.read_html(str(table))
df = dfs[0]
df

,Year,Pieces of Mail Handled,Number of Post Offices,Income,Expenses
0,1789,NaN,75,"$ 7,510","$ 7,560"
1,Income and expenses listed for 1789 are for th...,Income and expenses listed for 1789 are for th...,Income and expenses listed for 1789 are for th...,Income and expenses listed for 1789 are for th...,Income and expenses listed for 1789 are for th...
2,1790,NaN,75,37935,32140
3,1791,NaN,89,46294,36697
4,1792,NaN,195,67443,54530
5,1793,NaN,209,104746,72039
6,1794,NaN,450,128947,89972
7,1795,NaN,453,160620,117893
8,1796,NaN,468,195066,131571
9,1797,NaN,554,213998,150114
10,1798,NaN,639,232977,179084
11,1799,NaN,677,264846,188037
12,1800,NaN,903,280804,213994
13,1801,NaN,1025,320442,255151
14,1802,NaN,1114,327044,281916
15,1803,NaN,1258,351822,322364
16,1804,NaN,1405,389449,337502
17,1805,NaN,1558,421373,377367
18,1806,NaN,1710,446105,417233
19,1807,NaN,1848,478762,453885
20,1808,NaN,1944,460564,462828
21,1809,NaN,2012,506633,498012
22,1810,NaN,2300,551684,495969
23,1811,NaN,2403,587246,499098
24,1812,NaN,2610,649208,540165
25,1813,NaN,2708,703154,631011
26,1814,NaN,2670,730270,727126
27,1815,NaN,3000,1043065,748121
28,Income first exceeded one million dollars in 1...,Income first exceeded one million dollars in 1...,Income first exceeded one million dollars in 1...,Income first exceeded one million dollars in 1...,Income first exceeded one million dollars in 1...
29,1816,NaN,3260,961782,804022
30,1817,NaN,3459,1002973,916515
31,1818,NaN,3618,1130235,1035832
32,Expenses first exceeded one million dollars in...,Expenses first exceeded one million dollars in...,Expenses first exceeded one million dollars in...,Expenses first exceeded one million dollars in...,Expenses first exceeded one million dollars in...
33,1819,NaN,4000,1204737,1117861
34,1820,NaN,4500,1111927,1160926
35,1821,NaN,4650,1059087,1165481
36,1822,NaN,4709,1117490,1167572
37,1823,NaN,4043,1130115,1156995
38,1824,NaN,5182,1197758,1188019
39,1825,NaN,5677,1306525,1229043
40,1826,NaN,6150,1447703,1366712
41,1827,NaN,7300,1524633,1469959
42,1828,NaN,7530,1659915,1689945
43,1829,NaN,8004,1707418,1782132
44,1830,NaN,8450,1850583,1932708
45,1831,NaN,8686,1997811,1936122
46,1832,NaN,9205,2258570,2266171
47,1833,NaN,10127,2617011,2930414
48,1834,NaN,10693,2823749,2910605
49,1835,NaN,10770,2993556,2757350
50,1836,NaN,11091,3408323,2841766
51,1837,NaN,11767,4101703,3288319
52,1838,NaN,12519,4238733,4430662
53,1839,NaN,12780,4484657,4636536
54,1840,NaN,13468,4543522,4718236
55,1841,NaN,13778,4407726,4499687
56,1842,NaN,13733,4546850,4627717
57,1843,NaN,13814,4296225,4374754
58,1844,NaN,14103,4237288,4298513
59,1845,NaN,14183,4289842,4320732
60,1846,NaN,14601,3487199,4076037
61,1847,124173000,15146,3880309,3979542
62,1848,NaN,16159,4555211,4326850
63,1849,NaN,16749,4705176,4479049
64,1850,NaN,18417,5499985,5212953
65,1851,NaN,19796,6410601,6278402
66,1852,NaN,20901,5184526,7108459
67,1853,NaN,22320,5240725,7982757
68,1854,NaN,23548,6255586,8577424
69,1855,NaN,24410,6642136,9968342
70,1856,NaN,25565,6920822,10405286
71,1857,NaN,26586,7353952,11508058
72,1858,NaN,27977,7486793,12722470
73,1859,NaN,28539,7968484,15754093
74,1860,NaN,28498,8518067,14874601
75,1861,NaN,28586,8349296,13606759
76,1862,NaN,28875,8299821,11125364
77,1863,NaN,29047,11163790,11314207
78,1864,NaN,28878,12438254,12644786
79,1865,NaN,28882,14556159,13694728
80,1866,NaN,29389,14386986,15352079
81,1867,NaN,25163,15237027,19235483
82,1868,NaN,26481,16292001,22730793
83,1869,NaN,27106,17314176,23698132
84,1870,NaN,28492,18879537,23998838
85,1871,NaN,30045,20037045,24390104
86,1872,NaN,31863,21915426,26658192
87,1873,NaN,33244,22996742,29084946
88,1874,NaN,34294,26471072,32126415
89,1875,NaN,35547,26791314,33611309
90,1876,NaN,36383,28644198,33236488
91,1877,NaN,37345,27531585,33486322
92,1878,NaN,38253,29277517,34165084
93,1879,NaN,40588,30041983,33449899
94,1880,NaN,42989,33315479,36542804
95,1881,NaN,44512,36785398,39592566
96,1882,NaN,46231,41876410,40482021
97,1883,NaN,46820,45508693,43282944
98,1884,NaN,48434,43325959,47224560
99,1885,NaN,51252,42560844,50046235
100,1886,3747000000,53614,43948423,51004744
101,1887,3495100000,55157,48837609,53006194
102,1888,3576100000,57376,52695177,56458315
103,1889,3860200000,58999,56175611,62317119
104,1890,4005408000,62401,60882098,66259548
105,1891,4369900000,64329,65931786,73059519
106,1892,4776575000,67119,70930475,76980846
107,1893,5021841000,68403,75896993,81581681
108,1894,4919090000,69805,75080479,84994112
109,1895,5134281000,70064,76983128,87179551
110,1896,5693719000,70360,82499208,90932670
111,1897,5781002000,71022,82665462,94077242
112,1898,6214447000,73570,89012618,98053523
113,1899,6576310000,75000,95021384,101632161
114,1900,7129990000,76688,102353579,107740268
115,1901,7424390000,76945,111631193,115554921
116,The number of Post Offices peaked in 1901. The...,The number of Post Offices peaked in 1901. The...,The number of Post Offices peaked in 1901. The...,The number of Post Offices peaked in 1901. The...,The number of Post Offices peaked in 1901. The...
117,1902,8085447000,75924,121848047,124785697
118,1903,8867467000,74169,134224443,138784488
119,1904,9502460000,71131,143582624,152362117
120,1905,10187506000,68131,152826585,167399169
121,1906,11361091000,65600,167932783,178449779
122,1907,12255666000,62658,183585006,190238288
123,1908,13364069000,60704,191478663,208351886
124,1909,14004577000,60144,203562383,221004103
125,1910,14850103000,59580,224128658,229977225
126,1911,16900552000,59237,237879824,237648927
127,1912,17588659000,58729,246744016,248525450
128,1913,18567445000,58020,266619526,262067541
129,1914,NaN,56810,287934565,283543769
130,1915,NaN,56380,287248165,298546026
131,1916,NaN,55935,312057689,306204033
132,1917,NaN,55414,329726116,319838718
133,1918,NaN,54347,388975962,324833728
134,1919,NaN,53084,436239126,362497636
135,1920,NaN,52641,437150212,454322609
136,1921,NaN,52168,463491275,620993674
137,1922,NaN,51950,484853541,545644209
138,1923,23054832000,51613,532827925,556850966
139,1924,NaN,51266,572948778,587376916
140,1925,NaN,50957,599591478,639281648
141,1926,25483529000,50601,659819801,679704053
142,1927,26686556000,50266,683121989,714577492
143,1928,26837005000,49944,693633921,725699766
144,1929,27951548000,49482,696947578,782343648
145,1930,27887823000,49063,705484098,803667219
146,1931,26544352000,48733,656463383,802484840
147,1932,24306744000,48159,588171923,793684323
148,1933,19868456000,47641,587631364,699887186
149,1934,20625827000,46506,586733166,630732934
150,1935,22331752000,45686,630795302,696503235
151,1936,23571315000,45230,665343356,753616212
152,1937,25801279000,44877,726201110,772743145
153,1938,26041979000,44586,728634051,772307506
154,1939,26444846000,44327,745955075,784549842
155,1940,27749467000,44024,766948627,807629180
156,1941,29235791000,43739,812827735,836858580
157,1942,30117633000,43358,859817491,873950372
158,1943,32818262000,42654,966227288,952529098
159,1944,34930685000,42161,1112877174,1068986872
160,Income and expenses first exceeded one billion...,Income and expenses first exceeded one billion...,Income and expenses first exceeded one billion...,Income and expenses first exceeded one billion...,Income and expenses first exceeded one billion...
161,1945,37912067000,41792,1314240132,1145002246
162,1946,36318158000,41751,1224572173,1353654000
163,1947,37427706000,41760,1299141041,1504799000
164,1948,40280374000,41695,1410971284,1687805000
165,1949,43555108000,41607,1571851202,2149322000
166,1950,45063737000,41464,1677486967,2222949000
167,1951,46908410000,41193,1776816354,2341399000
168,1952,49905875000,40919,1947316280,2666860000
169,1953,50948156000,40609,2091714112,2742126000
170,1954,52213170000,39405,2268516717,2667664000
171,1955,55233564000,38316,2349476528,2712150214
172,1956,56441216000,37515,2419353664,2883305122
173,1957,59077633000,37012,2496614310,3044438004
174,1958,60129911000,36308,2550220791,3440810346
175,1959,61247220000,35750,3035231808,3640368053
176,1960,63674604000,35238,3276588433,3873952908
177,1961,64932859000,34955,3423058716,4249413744
178,1962,66493190000,34797,3557040595,4331617483
179,1963,67852738000,34498,3879127992,4698527911
180,1964,69676477000,34040,4276123326,4927824958
181,1965,71873166000,33624,4483389833,5275839877
182,1966,75607302000,33121,4784186482,5726522930
183,1967,78366572000,32626,5101982384,6249026677
184,1968,79516731000,32260,5660111244,6680971666
185,1969,82004501000,32064,6255883348,7278849508
186,1970,84881833000,32002,6472737791,7982551936
187,1971,86983000000,31947,8751484000,8955264000
188,"Effective July 1, 1971, the Post Office Depart...","Effective July 1, 1971, the Post Office Depart...","Effective July 1, 1971, the Post Office Depart...","Effective July 1, 1971, the Post Office Depart...","Effective July 1, 1971, the Post Office Depart..."
189,1972,87156084000,31686,9308379000,9585369000
190,1973,89683439000,31385,9824540000,9926441000
191,1974,90098108000,31000,10758759000,11295339000
192,1975,89265979000,30754,11548104000,12574205000
193,1976,89767903000,30521,12843714000,13922736000
194,1977,92223912000,30521,14709939000,15310169000
195,1978,96913154000,30518,15854566000,16219619000
196,1979,99828883000,30449,17825629000,17529303000
197,1980,106311062000,30326,18752915000,19412587000
198,1981,110130400000,30242,20408000000,21369000000
199,1982,114049205000,30155,23307000000,22826000000
200,The Postal Service last received a public serv...,The Postal Service last received a public serv...,The Postal Service last received a public serv...,The Postal Service last received a public serv...,The Postal Service last received a public serv...
201,1983,119381409000,29990,24370667000,24083073000
202,1984,131544620000,29750,26192554000,26357353000
203,1985,140097956000,29557,28705691000,29207201000
204,1986,147375805000,29344,30817927000,30716595000
205,1987,153930574000,29319,32178112000,32519689000
206,1988,160953625000,29203,35553000000,36119000000
207,1989,161603264000,29083,38415000000,38371000000
208,1990,166300770000,28959,39654830000,40489884000
209,1991,165850600000,28912,43884472000,42119000000
210,1992,166443400000,28837,46695800000,45652878000
211,1993,171220000000,28728,47582000000,46321600000
212,1994,178039400000,28657,49383400000,48455200000
213,1995,180733700000,28392,54293500000,50730200000
214,1996,183439500000,28189,56402000000,53113000000
215,1997,190888100000,28060,58216000000,55131000000
216,1998,196904700000,27952,60072000000,57786000000
217,1999,201576300000,27893,62726000000,60642000000
218,2000,207882200000,27876,64540000000,62992000000
219,2001,207462600000,27876,65834000000,65640000000
220,2002,202821900000,27791,66463000000,65234000000
221,2003,202184700000,27556,68529000000,63902000000
222,2004,206105600000,27505,68996000000,65851000000
223,2005,211742700000,27385,69907400000,68281000000
224,2006,213137700000,27318,72650400000,71681000000
225,2007,212234000000,27276,74778100000,80105000000
226,2008,202702900000,27232,74932000000,77738000000
227,2009,176744000000,27161,68090500000,71830000000
228,2010,170859000000,27077,67052000000,75426000000
229,2011,168297000000,26927,65711000000,70634000000
230,2012,159835000000,26755,65223000000,80964000000
231,2013,158222000000,26670,67318000000,72128000000
232,2014,155532000000,26669,67830000000,73178000000
233,2015,154321000000,26615,68928000000,73826000000
234,2016,154342000000,26611,71498000000,76899000000
235,2017,149590000000,26410,69636000000,72210000000
236,2018,146402000000,26365,70660000000,74445000000
237,2019,142570000000,26362,71154000000,79879000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    238 non-null    object
 1   Pieces of Mail Handled  131 non-null    object
 2   Number of Post Offices  238 non-null    object
 3   Income                  238 non-null    object
 4   Expenses                238 non-null    object
dtypes: object(5)
memory usage: 9.4+ KB

In [7]:
# check point
df2 = df.copy()
pattern = r'[0-9]{4}$'
filter = df2['Year'].str.contains(pattern) 
df2 = df2[filter]     # keep only rows with an actual year in the 'Year' col.

In [8]:
df2.head()

   Year Pieces of Mail Handled Number of Post Offices   Income Expenses
0  1789                    NaN                     75  $ 7,510  $ 7,560
2  1790                    NaN                     75    37935    32140
3  1791                    NaN                     89    46294    36697
4  1792                    NaN                    195    67443    54530
5  1793                    NaN                    209   104746    72039

In [9]:
df2.set_index('Year', inplace=True)
df2.head()

     Pieces of Mail Handled Number of Post Offices   Income Expenses
Year
1789                    NaN                     75  $ 7,510  $ 7,560
1790                    NaN                     75    37935    32140
1791                    NaN                     89    46294    36697
1792                    NaN                    195    67443    54530
1793                    NaN                    209   104746    72039

In [10]:
df2.columns = ['Pieces_Handled', 'Post_Offices', 'Income', 'Expenses']
df2.head()

     Pieces_Handled Post_Offices   Income Expenses
Year
1789            NaN           75  $ 7,510  $ 7,560
1790            NaN           75    37935    32140
1791            NaN           89    46294    36697
1792            NaN          195    67443    54530
1793            NaN          209   104746    72039

In [11]:
df2.drop(['1789'], inplace=True)   # yr 1789 data only accounted for 3 mos.
col_list = ['Pieces_Handled', 'Post_Offices', 'Income', 'Expenses']
df2[col_list] = df2[col_list].apply(pd.to_numeric)

In [12]:
df2['Profit/Loss'] = df2['Income'] - df2['Expenses']
df2.head()

      Pieces_Handled  Post_Offices  Income  Expenses  Profit/Loss
Year
1790             NaN            75   37935     32140         5795
1791             NaN            89   46294     36697         9597
1792             NaN           195   67443     54530        12913
1793             NaN           209  104746     72039        32707
1794             NaN           450  128947     89972        38975

In [16]:
# check point
df3 = df2.copy()
df3  =df3.convert_dtypes()

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 230 entries, 1790 to 2019
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pieces_Handled  124 non-null    Int64
 1   Post_Offices    230 non-null    Int64
 2   Income          230 non-null    Int64
 3   Expenses        230 non-null    Int64
 4   Profit/Loss     230 non-null    Int64
dtypes: Int64(5)
memory usage: 11.9+ KB